<div class="header clearfix">
	<nav>
	  <ul class="nav nav-pills pull-right">



{% if user.is_authenticated %}
  	<li role="presentation" ><a href="#">Welcome, {{ user.get_username }}.</a></li>
	<li role="presentation" class="active"><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
    <li role="presentation" class="active"><a href="/login">Login</a></li>
{% endif %}

	    <li role="presentation"><a href="#">About</a></li>
	    <li role="presentation"><a href="#">Contact</a></li>
	  </ul>
	</nav>
	<h3 class="text-muted">Project name</h3>
</div>